@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
html,
body {
    font-family: "Source Sans Pro", "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
}

.header {
    color: #FFF;
    position: relative;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    height: 450px;
}

.header .header-bg {
    position: absolute;
    width: 100%;
    /* overflow: hidden; */
    left: 0;
    z-index: -1;
    min-height: 300px;
    height: auto;
}

.header .header-bg img {
    width: 100%;
    vertical-align: initial;
}

.header .header-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.7);
}

.header .logo {
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    height: 5vw;
    line-height: 5vw;
    width: 60px;
}

.header .logo img {
    width: 100%;
}

.header .course-text {
    max-width: 90%;
}

.header .course-text h1,
.header .course-text h2 {
    font-size: 4vw;
    line-height: 5vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.header .course-text h2 {
    font-weight: 100;
}

.header .logo-container {
    width: 100%;
}

.header .logo-container img {
    width: 500px;
}

.header .course-leading {
    max-width: 50%;
    font-size: 12px;
    font-weight: 100;
}

.header .course-leading .course-id {
    font-size: 2em;
    font-style: italic;
    padding: 5px 0 5px 0;
    display: inline-block;
    border-bottom: 1px solid #FFF;
    font-weight: 400;
}

.header .course-title {
    margin-top: 3%;
}

.unit-row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2%;
}

.unit-number {
    color: #F00;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 300;
    text-align: center;
    font-family: "Oswald", "Roboto", sans-serif;
}

.unit-date {
    color: #4a4a4a;
}

.unit-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /*border: 2px solid #4a4a4a;*/
    margin: 5% auto;
    transition: all .3s ease-in-out;
}

.unit-info {
    display: none;
}

.unit-card {
    width: 19%;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.unit-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.unit-card:hover .bg-img {
    opacity: 0.4;
}

.unit-card:hover .unit-icon {
    width: 100%;
    height: 50%;
    border-radius: 0;
}

.unit-card .bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    opacity: 0.2;
    overflow: hidden;
}

.unit-card .bg-img img {
    height: 100%;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
}

.pa-accordion.collapsible.popout {
    margin: 0;
    padding: 0;
}

.pa-accordion.collapsible.popout>li {
    margin: 0;
}

.pa-accordion.collapsible.popout>li.active {
    margin: 20px;
}

.pa-accordion.collapsible.popout>li.active .collapsible-header {
    background-color: transparent;
    height: 300px;
}

.pa-accordion.collapsible.popout>li.active .bg-img {
    opacity: 0.2;
}

.pa-accordion.collapsible.popout>li.active .btn-floating {
    width: 50px;
    height: 50px;
    opacity: 1;
}

.pa-accordion.collapsible.popout>li .collapsible-header {
    min-height: 100px;
    padding: 0 5%;
    box-sizing: border-box;
}

.pa-accordion.collapsible.popout>li .collapsible-body {
    padding-left: 5%;
    padding-right: 5%;
}

.pa-accordion.collapsible.popout>li .collapsible-body .btn {
    background-color: #39c2d7;
}

.pa-accordion.collapsible.popout .collapsible-header {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-family: "Oswald", "Roboto", sans-serif;
}

.pa-accordion.collapsible.popout .collapsible-header:hover {
    background-color: transparent;
}

.pa-accordion.collapsible.popout .collapsible-header:hover .bg-img {
    opacity: 0.2;
}

.pa-accordion.collapsible.popout .collapsible-header:hover .header-text .unit-title::after {
    width: 100%;
}

.pa-accordion.collapsible.popout .collapsible-header .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: -1;
}

.pa-accordion.collapsible.popout .collapsible-header .bg-img img {
    width: 100%;
}

.pa-accordion.collapsible.popout .collapsible-header .unit-icon {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.pa-accordion.collapsible.popout .collapsible-header .unit-date {
    position: absolute;
    right: 5%;
    color: #39c2d7;
    z-index: 2;
    padding-left: 5%;
}

.pa-accordion.collapsible.popout .collapsible-header .btn-floating {
    text-align: center;
    background-color: #F00;
    width: 0;
    height: 0;
    right: 10%;
    bottom: -25px;
    opacity: 0;
    transition: opacity .7s ease-in-out, box-shadow .4s ease-in-out;
}

.pa-accordion.collapsible.popout .collapsible-header .btn-floating .material-icons {
    margin: 0 auto;
    float: none;
    line-height: 50px;
}

.pa-accordion.collapsible.popout .collapsible-header .header-text {
    padding: 0 20px;
    z-index: 3;
    max-width: 80%;
}

.pa-accordion.collapsible.popout .collapsible-header .header-text .unit-number {
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
}

.pa-accordion.collapsible.popout .collapsible-header .header-text .unit-title {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #414042;
    position: relative;
}

.pa-accordion.collapsible.popout .collapsible-header .header-text .unit-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #39c2d7;
    transition: width .4s ease-in-out;
}

.pa-accordion.collapsible.popout .collapsible-body .right-align a {
    display: block;
    padding: 10px;
    color: #414042;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
    max-width: 20%;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}

.pa-accordion.collapsible.popout .collapsible-body .right-align a:hover {
    background-color: rgba(57, 194, 215, 0.3);
}

.footer {
    min-height: 200px;
    width: 100%;
    background-color: #414042;
    color: #FFF;
}

.footer .footer-logo {
    margin: 0 auto;
    display: inline-block;
    width: 100px;
}

.footer .footer-logo img {
    width: 100%;
}