@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,600,700,900')
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700')


$color-primary-blue: rgb(57, 194, 215)
$color-body-text: rgb(65, 64, 66)

html, body
	font-family: "Source Sans Pro", "Roboto", "Helvetica", sans-serif
	font-size: 16px

.header
	// background-color: #F00
	color: #FFF
	// height: 500px
	position: relative
	overflow: hidden
	padding: 5%
	box-sizing: border-box
	.header-bg
		position: absolute
		width: 100%
		overflow: hidden
		left: 0
		z-index: -1
		img
			width: 100%
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: rgba(255, 0, 0, 0.7)
	.logo
		position: absolute
		right: 5vw
		bottom: 5vw
		height: 5vw
		line-height: 5vw
	.course-text
		max-width: 90%
		h1, h2
			font-size: 4vw
			line-height: 5vw
			margin: 0
			text-transform: uppercase
			font-weight: 400
		h2
			font-weight: 100
	.logo-container
		width: 100%
		img
			width: 500px
	.course-leading
		max-width: 50%
		font-size: 12px
		font-weight: 100
		.course-id
			font-size: 3vh
			font-style: italic
			padding: 5px 0 5px 0
			display: inline-block
			border-bottom: 1px solid #FFF
			font-weight: 400
	.course-title
		margin-top: 3%
	
.unit-row
	width: 100%
	display: flex
	justify-content: space-around
	padding: 2%
.unit-number
	color: #F00
	text-transform: uppercase
	font-size: 1.7em
	font-weight: 300
	text-align: center
	font-family: "Oswald", "Roboto", sans-serif
.unit-date
	color: #4a4a4a
.unit-icon
	width: 60px
	height: 60px
	border-radius: 50%
	border: 2px solid #4a4a4a
	margin: 5% auto
	transition: all .3s ease-in-out
.unit-info
	display: none
.unit-card
	width: 19%
	position: relative
	color: #FFF
	// padding: 20px
	box-sizing: border-box
	border-radius: 5px
	transition: all .5s ease-in-out
	&:hover
		box-shadow: 0 10px 25px rgba(0,0,0,0.2)
		overflow: hidden
		.bg-img
			opacity: 0.4
		.unit-icon
			width: 100%
			height: 50%
			border-radius: 0
	.bg-img
		position: absolute
		left: 0
		top: 0
		width: 100%
		max-height: 100%
		opacity: 0.2
		overflow: hidden
		img
			height: 100%
			width: auto
			transform: translateX(-50%) translateY(-50%)
	
.pa-accordion.collapsible.popout
	margin: 0
	padding: 0
	& > li
		margin: 0
		&.active
			margin: 20px
			.collapsible-header 
				background-color: transparent
				height: 300px
			.bg-img
				opacity: 0.2
			.btn-floating
				// display: block
				width: 50px
				height: 50px
				opacity: 1
		.collapsible-header
			min-height: 100px
			padding: 0 5%
			box-sizing: border-box
		.collapsible-body
			padding-left: 5%
			padding-right: 5%
			.btn
				background-color: $color-primary-blue
	.collapsible-header
		display: flex
		position: relative
		font-family: "Oswald", "Roboto", sans-serif
		// transition: height .4s ease-in-out
		&:hover
			background-color: transparent
			.bg-img
				opacity: 0.2
			.header-text .unit-title::after
				width: 100%
		.bg-img
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			overflow: hidden
			opacity: 0
			transition: opacity .3s ease-in-out
			z-index: -1
			img
				width: 100%
		.unit-icon
			padding: 0
			margin: 0
			z-index: 1
		.unit-date
			position: absolute
			right: 5%
			color: $color-primary-blue
			z-index: 2
			padding-left: 5%
		.btn-floating
			text-align: center
			background-color: #F00
			width: 0
			height: 0
			right: 10%
			bottom: -25px
			// display: none
			opacity: 0
			transition: opacity .7s ease-in-out, box-shadow .4s ease-in-out
			.material-icons
				margin: 0 auto
				float: none
		.header-text
			padding: 0 20px
			z-index: 3
			max-width: 80%
			.unit-number
				text-align: left
				font-size: 1em
				line-height: 1.5em
			.unit-title
				font-size: 1.8em
				text-transform: uppercase
				color: $color-body-text
				position: relative
				&::after
					content: ""
					display: block
					position: absolute
					left: 0
					bottom: 0
					width: 0
					height: 2px
					background-color: $color-primary-blue
					transition: width .4s ease-in-out
				
			
	// FOOTER
.footer
	min-height: 200px
	width: 100%
	background-color: $color-body-text
	color: #FFF
	.footer-logo
		margin: 0 auto
		display: inline-block
	
	