/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 319 of /Volumes/elearning/Build/PSYO/PSYO000-production/css/layout.sass

314: 		height: 75px
315: 		position: absolute
316: 		left: 40px
317: 	
318: 	&.with-icon .card-content
319: 			margin-left: 100px
320: 	.card-content
321: 		h1, h2, h3, h4, p, ul
322: 			margin: 0 0 30px 0
323: 		li p
324: 			margin: 0

Backtrace:
/Volumes/elearning/Build/PSYO/PSYO000-production/css/layout.sass:319
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:519:in `tree'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:523:in `tree'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:420:in `run'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/bin/sass:30:in `load'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/bin/sass:30:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 319 of /Volumes/elearning/Build/PSYO/PSYO000-production/css/layout.sass\A \A 314: 		height: 75px\A 315: 		position: absolute\A 316: 		left: 40px\A 317: 	\A 318: 	&.with-icon .card-content\A 319: 			margin-left: 100px\A 320: 	.card-content\A 321: 		h1, h2, h3, h4, p, ul\A 322: 			margin: 0 0 30px 0\A 323: 		li p\A 324: 			margin: 0"; }
