$color-red-50: rgba(255, 0, 0, 0.5)
$color-primary-blue: rgb(57, 194, 215)

$color-body-text: rgb(65, 64, 66)
$color-body-text-light: rgb(155, 155, 155)
$color-list-card: rgb(240, 240, 240)

$shadow-nav: 0 12px 42px 12px rgba(0,0,0,0.08)
$shadow-card: 0 6px 10px 0 rgba(164, 164, 164, 0.2)

$dist-left: 19.5%
$dist-right: 13%
$figure-margin-top: 90px

cite
	display: block
	text-align: right
	margin-top: 1.5em
	line-height: 2em
	sup
		display: block
		line-height: 1em

// ## TODO PAGE
main.todo
	ul.tabs
		margin-left: $dist-left
	.discussion-content, .project-content
		h3
			line-height: 2em
			color: $color-body-text-light
		h2
			margin-top: 0.5em
			margin-bottom: 1em
			font-weight: 100
			font-size: 2.5em
		ul
			margin-top: 1em
		ol
			margin-left: $dist-left
			margin-right: $dist-right
			counter-reset: li
			padding: 0
			& > li
				position: relative
				list-style: none
				padding: 1em 3em 1em 6em
				background-color: $color-list-card
				& + li
					margin-top: .5em
				&::before
					content: counter(li)
					counter-increment: li
					position: absolute
					top: 1em
					left: 1.5em
					font-size: 2em
					font-weight: 600
					color: $color-body-text

// ##  HEADER  ###########################
.header
	background-color: #f00
	width: 100%
	max-height: 600px
	overflow: hidden
	color: #FFF
	position: relative
	text-transform: uppercase
	&::before
		content: ""
		display: block
		background-color: $color-red-50
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 3
	&::after
		content: "LOGO"
		display: block
		position: absolute
		right: 30px
		bottom: 30px
		z-index: 4
	
	.unit-video-thumb
		width: 100%
		height: auto
		max-height: 600px
		z-index: 2
		img
			width: 100%
	
	.unit-title
		position: absolute
		z-index: 4
		top: 25%
		left: 80px

	// video block for sections
.section-video
	max-height: 600px
	overflow: hidden
	color: #FFF
	position: relative
	text-transform: uppercase
	&::before
		content: ""
		display: block
		background-color: $color-red-50
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 3
	.section-video-thumb
		width: 100%
		height: auto
		max-height: 600px
		z-index: 2
		img
			width: 100%
	
	.video-title
		position: absolute
		z-index: 4
		bottom: 50px
		left: 80px
	.video-btn-group
		left: auto
		right: 80px
		bottom: 50px
	

.video-btn-group
	position: absolute
	bottom: 16.66%
	left: 80px
	display: flex
	z-index: 4
	.video-btn-play
		border: 1px solid #FFF
		width: 170px
		height: 40px
		background-color: $color-primary-blue
		box-sizing: border-box
	.video-btn-transcript
		border: 1px solid #FFF
		border-left: none
		width: 170px
		height: 40px
		box-sizing: border-box
		
// ##  NAVIGATION  ###########################

.nav
	width: 100%
	height: auto
	text-transform: uppercase
	box-shadow: $shadow-nav
	background-color: #fff
	&.sticky
		position: fixed
		z-index: 10
		height: auto
		top: 0
		left: 0
		right: 0
		.sticky-nav
			// display: flex
			background-color: #fff
			height: auto
			overflow: visible
			opacity: 1
		.nav-header
			display: flex
			z-index: 8
		.nav-container
			// display: none
			margin-top: -100%
			opacity: 0
			transition: margin .5s ease-in-out, opacity 1s ease
			&.show
				// display: block
				z-index: 5
				opacity: 1
				margin-top: 0
	.sticky-nav
		display: flex
		opacity: 0
		height: 0
		overflow: hidden
		justify-content: space-between
		align-items: center
		padding: 0 30px
		background-color: #fff
		// border-bottom: 3px solid red
		box-shadow: 0 5px 20px rgba(0,0,0,0.08)
		transition: height .4s ease-in-out, opacity .7s ease
		.burger
			font-size: 38px
			padding: 10px
			cursor: pointer
			&:hover
				background-color: #c6c6c6
	.nav-title
		width: 100%
		height: 30px
		padding-top: 30px
		padding-bottom: 30px
		text-align: center
	.nav-block-group
		width: 100%
		display: flex
		justify-content: center
		.nav-block
			width: 33.33%
			padding: 90px 0
			div
				margin: 0 auto
			& + .nav-block
				border-left: 1px solid rgb(229, 229, 229)
			.nav-icon
				width: 60px
				height: 60px
				border: 1px solid #000
				border-radius: 50%
			ul
				list-style: none
				padding: 0
				display: flex
				align-items: center
				flex-direction: column
				li
					margin-top: 20px
					text-align: center
					a
						display: inline
		
// ##  MAIN  ###########################

.main
	width: 100%
	max-width: 1280px
	margin: 180px auto 50px auto

// ##  SECTION  ###########################

.section
	margin-bottom: 90px
	figure
		width: 100%
		margin: $figure-margin-top 0
		img
			width: 100%
		&.figure-content-width
			width: auto
			margin: $figure-margin-top $dist-right $figure-margin-top $dist-left
		&.figure-full-width
			width: 100%
			margin: $figure-margin-top 0
	ul li p, blockquote p
		margin: 0
.section-article
	& >h2, >h1, >h3, >h4, >ul, >p
		// margin: 90px $dist-right 90px $dist-left
		margin-left: $dist-left
		margin-right: $dist-right
		margin-top: 90px
		margin-bottom: 90px
	& >blockquote
		margin-left: $dist-left
		margin-right: $dist-right
		margin-top: 120px
		margin-bottom: 60px
	& >h3, >p
		margin-top: auto
		margin-bottom: auto
		
.section-title-group
	position: relative
	text-transform: uppercase
	margin-bottom: 90px
	.section-icon
		width: 60px
		height: 60px
		border-radius: 50%
		border: 1px solid #000
		position: absolute
		margin-left: -100px
		left: $dist-left
	.section-title
		margin-left: $dist-left
		margin-right: $dist-right
	
.content-width
	margin: 90px $dist-right 90px $dist-left
.full-width
	margin: 90px 0
	width: 100%
	
.section-card
	box-shadow: $shadow-card
	position: relative
	padding: 50px
	box-sizing: border-box
	.card-icon
		border: 1px solid #000
		border-radius: 50%
		width: 75px
		height: 75px
		position: absolute
		left: 40px
	
	&.with-icon .card-content
			margin-left: 100px
	.card-content
		h1, h2, h3, h4, p, ul
			margin: 0 0 30px 0
		li p
			margin: 0

.aside
	float: right
	max-width: 48%
	margin: 0 13px 13px 13px
	blockquote
		margin: 70px 0 50px 20px
	&.section-video
		max-height: 365px
		// max-width: 50%
		margin-right: 0
	.video-title
		left: 5%
		bottom: 5%
		max-width: 60%
	.video-btn-group
		right: 5%
		bottom: 5%
		width: 30%
		min-width: 160px
		font-size: 55%
		.video-btn-play, .video-btn-transcript
			width: 50%
			height: 25px
	
.section-card-row
	width: 100%
	display: flex
	justify-content: center
	padding: 80px 80px 0 80px
	box-sizing: border-box
	& + .section-card-row
		padding-top: 0
	&:last-child
		padding-bottom: 80px
	&.side-by-side .section-card
		width: 550px
		margin: 15px
	
.footer
	min-height: 200px
	width: 100%
	.footer-logo
		margin: 0 auto
		display: inline-block
	
#theater
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0,0,0,.9)
	z-index: 99
	.video-container
		display: block
		&.active
			display: block
	#theater-btn-close
		position: absolute
		top: 0
		right: 0
		margin: 10px
		cursor: pointer
		transition: all .3s ease-in-out
		&:hover
			opacity: 0.7
			transform: scale(1.1)
	


.fab-goto-top
	position: fixed
	color: #4a4a4a
	font-weight: 600
	left: 4vw
	bottom: -10vh
	width: 70px
	height: 70px
	border-radius: 50%
	opacity: 0.3
	border: 2px solid #4a4a4a
	text-transform: uppercase
	background-color: #fff
	text-align: center
	font-size: .8em
	line-height: 85px
	cursor: pointer
	z-index: 10
	transition: all .7s ease-in-out
	// display: none
	&.show
		display: block
		bottom: 10vh
	&:hover
		opacity: 1
	&::before
		content: ""
		display: block
		position: absolute
		height: 0
		width: 0		
		border-bottom: 10px solid #F00
		border-right: 10px solid transparent
		border-left: 10px solid transparent
		top: 20px
		left: 22px

.fab-drawer
	padding: 30px
	background-color: #fff
	position: fixed
	bottom: 10vh
	right: -50%
	z-index: 11
	text-transform: uppercase
	font-size: 0.8em
	transition: all .6s ease-in-out
	&.show
		right: 0
	a, a:visited, a:hover, a:active 
		color: #FFF
	.fab-drawer-btn
		display: block
		text-align: center
		width: 25vw
		max-width: 200px
		min-width: 150px
		position: relative
		.material-icons
			position: absolute
			top: 0.3em
			&.left
				left: 1em
			&.right
				right: 1em
		& + .fab-drawer-btn
			margin-top: 10px
		// &::after
		// 	content: ""
		// 	display: block
		// 	position: absolute
		// 	height: 0
		// 	width: 0
		// 	top: 0.9em
		// 	right: 0.9em
		// 	border-top: 7px solid transparent
		// 	border-bottom: 7px solid transparent
		// 	border-left: 7px solid #FFF
	.fab-drawer-assi
		background-color: $color-primary-blue
	.fab-drawer-project
		background-color: rgb(65, 64, 66)
		
	
// ## SYLLABUS PAGE ############################
.header.syllabus
	background-color: transparent
	color: #FFF
	// height: 500px
	position: relative
	overflow: hidden
	padding: 5%
	box-sizing: border-box
	margin-bottom: 150px
	&::after
		content: none
	&::before
		content: none
	.header-bg
		position: absolute
		width: 100%
		overflow: hidden
		left: 0
		z-index: -1
		img
			width: 100%
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			background-color: rgba(255, 0, 0, 0.7)
		
	.logo
		position: absolute
		right: 5vw
		bottom: 5vw
		height: 5vw
		line-height: 5vw
	.course-text
		max-width: 90%
		h1, h2
			margin: 0
			text-transform: uppercase
			font-weight: 400
		h1
			font-size: 3em
		h2
			font-weight: 100
			font-size: 2em
	.course-leading
		max-width: 50%
		font-size: 12px
		font-weight: 100
		line-height: 1.5em
		.course-id
			font-size: 2.5em
			font-style: italic
			padding: 15px 0 15px 0
			display: inline-block
			border-bottom: 1px solid #FFF
			font-weight: 400
	.course-title
		margin-top: 5%
		margin-bottom: 20%
	
	
// ## TRANSCRIPT PAGE ############################
.header-lead.transcript
	font-size: 1.5em
	color: $color-body-text
	padding: 0.8em 5%
	width: 100%
	background-color: #fff
	text-transform: uppercase
.header.transcript
	background-color: #F00
	color: #FFF
	min-height: 200px
	position: relative
	overflow: hidden
	padding: 5%
	box-sizing: border-box
	margin-bottom: 50px
	&::after
		content: none
	&::before
		content: none
	.transcript-title
		font-size: 2vw
		.title-lead
				display: inline-block
				border-bottom: 1px solid #fff
				font-style: italic
				font-size: 1.5em
				line-height: 2em
				margin-bottom: 1.5em
		.video-title
			.title-bold
				font-size: 6vw
				padding: 2vw 0
			.title-light
				font-size: 6vw
				padding: 2vw 0
				font-weight: 100
		
	.logo
		position: absolute
		right: 5vw
		bottom: 5vw
		height: 5vw
		line-height: 5vw
.main.transcript
	margin-top: 0
	position: relative
	.section.dialog
		padding-left: $dist-left
		padding-right: $dist-right
		margin-bottom: 0
		position: relative
		em
			text-transform: uppercase
			font-style: normal
			font-weight: 600
			font-family: "Source Sans Pro", "Roboto", sans-serif
		&::before
			content: attr(time)
			color: $color-body-text-light
			width: 200px
			position: absolute
			display: inline-block
			text-align: right
			margin-left: -200px
			margin-top: 1em
			padding-right: 1em
	

// ## Progress Bar ############################

.section.progress
	color: $color-body-text
	background-color: transparent
	min-height: 200px
	ul.progress-bar
		border-top: 1px solid #E3E3E3
		padding-top: 50px
		list-style: none
		display: table
		table-layout: fixed
		li
			list-style: none
			text-transform: uppercase
			display: table-cell
			text-align: center
			position: relative
			color: $color-body-text
			font-weight: 600
			a
				border-bottom: 1px solid $color-primary-blue
				padding-bottom: 0.5em
				padding-top: 0.5em
				margin-bottom: 0.5em
				transition: all .4s ease-in-out
				&:hover
					background-color: rgba(57, 194, 215, 0.3)
					padding: 0.5em 1em
			&:hover::before
				background-color: $color-primary-blue
				border-color: #fbfbfb
				box-shadow: 0 3px 10px rgba(0,0,0,0.2)
			&::before
				content: ""
				display: block
				margin: 0 auto
				width: 1em
				height: 1em
				background-color: #fbfbfb
				line-height: 1em
				border-radius: 50%
				position: relative
				z-index: 9
				top: 4em
				border: 5px solid $color-body-text-light
				box-shadow: 0 1px 2px rgba(0,0,0,0.3)
				transition: all .4s ease-in-out
			&::after
				content: ""
				display: block
				background-color: $color-body-text-light
				position: absolute
				height: 1px
				width: 100%
				top: 4.5em
				left: 50%
				box-shadow: 0 1px 2px rgba(0,0,0,0.3)
			&:last-child::after
				content: none
			&.active
				a
					color: $color-primary-blue
					// background-color: rgba(57, 194, 215, 0.3)
				&::before
					background-color: $color-primary-blue
					border-color: #fbfbfb
					box-shadow: 0 3px 10px rgba(0,0,0,0.2)
	
	