cite {
    display: block;
    text-align: right;
    margin-top: 1.5em;
    line-height: 2em;
}

cite sup {
    display: block;
    line-height: 1em;
}

main.todo ul.tabs {
    margin-left: 19.5%;
}

main.todo .discussion-content h3,
main.todo .project-content h3 {
    line-height: 2em;
    color: #9b9b9b;
}

main.todo .discussion-content h2,
main.todo .project-content h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: 100;
    font-size: 2.5em;
}

main.todo .discussion-content ul,
main.todo .project-content ul {
    margin-top: 1em;
}

main.todo .discussion-content ol,
main.todo .project-content ol {
    margin-left: 19.5%;
    margin-right: 13%;
    counter-reset: li;
    padding: 0;
}

main.todo .discussion-content ol>li,
main.todo .project-content ol>li {
    position: relative;
    list-style: none;
    padding: 1em 3em 1em 6em;
    background-color: #f0f0f0;
}

main.todo .discussion-content ol>li+li,
main.todo .project-content ol>li+li {
    margin-top: .5em;
}

main.todo .discussion-content ol>li::before,
main.todo .project-content ol>li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 1em;
    left: 1.5em;
    font-size: 2em;
    font-weight: 600;
    color: #414042;
}

.header {
    background-color: #f00;
    width: 100%;
    min-height: 450px;
    max-height: 600px;
    overflow: hidden;
    color: #FFF;
    position: relative;
    text-transform: uppercase;
}

.header::before {
    content: "";
    display: block;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.header::after {
    content: "";
    width: 80px;
    height: 50px;
    background-image: url('../assets/icons/rks-scad-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 4;
}

.header .unit-video-thumb {
    width: 100%;
    height: auto;
    max-height: 600px;
    z-index: 2;
}

.header .unit-video-thumb img {
    width: 100%;
}

.header .unit-title {
    position: absolute;
    z-index: 4;
    top: 25%;
    left: 80px;
}

.section-video {
    max-height: 600px;
    overflow: hidden;
    color: #FFF;
    position: relative;
    text-transform: uppercase;
}

.section-video::before {
    content: "";
    display: block;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.section-video .section-video-thumb {
    width: 100%;
    height: auto;
    max-height: 600px;
    z-index: 2;
}

.section-video .section-video-thumb img {
    width: 100%;
}

.section-video .video-title {
    position: absolute;
    z-index: 4;
    bottom: 50px;
    left: 80px;
}

.section-video .video-btn-group {
    left: auto;
    right: 80px;
    bottom: 50px;
}

.video-btn-group {
    position: absolute;
    bottom: 16.66%;
    left: 80px;
    display: -ms-flexbox;
    display: flex;
    z-index: 4;
}

.video-btn-group .video-btn-play {
    border: 1px solid #FFF;
    width: 170px;
    height: 40px;
    background-color: #39c2d7;
    box-sizing: border-box;
}

.video-btn-group .video-btn-transcript {
    border: 1px solid #FFF;
    border-left: none;
    width: 170px;
    height: 40px;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.nav.sticky {
    position: fixed;
    z-index: 10;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.nav.sticky .sticky-nav {
    background-color: #fff;
    height: auto;
    overflow: visible;
    opacity: 1;
}

.nav.sticky .nav-header {
    display: -ms-flexbox;
    display: flex;
    z-index: 8;
}

.nav.sticky .nav-container {
    margin-top: -100%;
    opacity: 0;
    transition: margin .5s ease-in-out, opacity 1s ease;
}

.nav.sticky .nav-container.show {
    z-index: 5;
    opacity: 1;
    margin-top: 0;
}

.nav .sticky-nav {
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    transition: height .4s ease-in-out, opacity .7s ease;
}

.nav .sticky-nav .burger {
    font-size: 38px;
    padding: 10px;
    cursor: pointer;
}

.nav .sticky-nav .burger:hover {
    background-color: #c6c6c6;
}

.nav .nav-title {
    width: 100%;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.nav .nav-block-group {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav .nav-block-group .nav-block {
    width: 33.33%;
    padding: 90px 0;
}

.nav .nav-block-group .nav-block div {
    margin: 0 auto;
}

.nav .nav-block-group .nav-block+.nav-block {
    border-left: 1px solid #e5e5e5;
}

.nav .nav-block-group .nav-block .nav-icon {
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.nav .nav-block-group .nav-block .nav-icon>img {
    width: 100%;
    vertical-align: baseline;
}

.nav .nav-block-group .nav-block ul {
    list-style: none;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav .nav-block-group .nav-block ul li {
    margin-top: 20px;
    text-align: center;
}

.nav .nav-block-group .nav-block ul li a {
    display: inline;
}

.main {
    width: 100%;
    max-width: 1280px;
    margin: 180px auto 50px auto;
}

.section {
    margin-bottom: 90px;
}

.section figure {
    width: 100%;
    margin: 90px 0;
}

.section figure img {
    width: 100%;
}

.section figure.figure-content-width {
    width: auto;
    margin: 90px 13% 90px 19.5%;
}

.section figure.figure-full-width {
    width: 100%;
    margin: 90px 0;
}

.section figure.padding {
    padding: 2em;
}

.section ul li p,
.section blockquote p {
    margin: 0;
}

.section-article>h2,
.section-article>h1,
.section-article>h3,
.section-article>h4,
.section-article>ul,
.section-article>p,
.section-article>ol {
    margin-left: 19.5%;
    margin-right: 13%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.section-article>blockquote {
    margin-left: 19.5%;
    margin-right: 13%;
    margin-top: 120px;
    margin-bottom: 60px;
}

.section-article>h3,
.section-article>p {
    margin-top: auto;
    margin-bottom: auto;
}

.section-title-group {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.section-title-group .section-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*border: 1px solid #000;*/
    position: absolute;
    margin-left: -100px;
    left: 19.5%;
}

.section-title-group .section-title {
    margin-left: 19.5%;
    margin-right: 13%;
}

.content-width {
    margin: 90px 13% 90px 19.5%;
}

.full-width {
    margin: 90px 0;
    width: 100%;
}

.section-card {
    box-shadow: 0 6px 10px 0 rgba(164, 164, 164, 0.2);
    position: relative;
    padding: 50px;
    box-sizing: border-box;
}

.section-card .card-icon {
    /*border: 1px solid #000;*/
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 40px;
}

.section-card.with-icon .card-content {
    margin-left: 100px;
}

.section-card .card-content h1,
.section-card .card-content h2,
.section-card .card-content h3,
.section-card .card-content h4,
.section-card .card-content p,
.section-card .card-content ul {
    margin: 0 0 30px 0;
}

.section-card .card-content li p {
    margin: 0;
}

.aside {
    float: right;
    max-width: 48%;
    margin: 0.5em 13px 13px 13px;
}

.aside blockquote {
    margin: 70px 0 50px 20px;
}

.aside.section-video {
    max-height: 365px;
    margin-right: 0;
}

.aside .video-title {
    left: 5%;
    bottom: 5%;
    max-width: 60%;
}

.aside .video-btn-group {
    right: 5%;
    bottom: 5%;
    width: 30%;
    min-width: 160px;
    font-size: 55%;
}

.aside .video-btn-group .video-btn-play,
.aside .video-btn-group .video-btn-transcript {
    width: 50%;
    height: 25px;
}

.section-card-row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
}

.section-card-row+.section-card-row {
    padding-top: 0;
}

.section-card-row:last-child {
    padding-bottom: 80px;
}

.section-card-row.side-by-side .section-card {
    width: 550px;
    margin: 15px;
}

.footer {
    min-height: 200px;
    width: 100%;
}

.footer .footer-logo {
    margin: 0 auto;
    display: inline-block;
    width: 100px;
}

.footer .footer-logo img {
    width: 100%;
}

#theater {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

#theater .video-container {
    display: none;
}

#theater .video-container.active {
    display: block;
    width: 100%;
    max-width: 800px;
}

#theater #theater-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#theater #theater-btn-close:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.fab-goto-top {
    position: fixed;
    color: #4a4a4a;
    font-weight: 600;
    left: 4vw;
    bottom: -10vh;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0.3;
    border: 2px solid #4a4a4a;
    text-transform: uppercase;
    background-color: #fff;
    text-align: center;
    font-size: .8em;
    line-height: 85px;
    cursor: pointer;
    z-index: 10;
    transition: all .7s ease-in-out;
}

.fab-goto-top.show {
    display: block;
    bottom: 10vh;
}

.fab-goto-top:hover {
    opacity: 1;
}

.fab-goto-top::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid #F00;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 20px;
    left: 22px;
}

.fab-drawer {
    padding: 30px;
    background-color: #fff;
    position: fixed;
    bottom: 10vh;
    right: -50%;
    z-index: 11;
    text-transform: uppercase;
    font-size: 0.8em;
    transition: all .6s ease-in-out;
}

.fab-drawer.show {
    right: 0;
}

.fab-drawer a,
.fab-drawer a:visited,
.fab-drawer a:hover,
.fab-drawer a:active {
    color: #FFF;
}

.fab-drawer .fab-drawer-btn {
    display: block;
    text-align: center;
    width: 25vw;
    max-width: 200px;
    min-width: 150px;
    position: relative;
}

.fab-drawer .fab-drawer-btn .material-icons {
    position: absolute;
    top: 0.3em;
}

.fab-drawer .fab-drawer-btn .material-icons.left {
    left: 1em;
}

.fab-drawer .fab-drawer-btn .material-icons.right {
    right: 1em;
}

.fab-drawer .fab-drawer-btn+.fab-drawer-btn {
    margin-top: 10px;
}

.fab-drawer .fab-drawer-assi {
    background-color: #39c2d7;
}

.fab-drawer .fab-drawer-project {
    background-color: #414042;
}

.header.syllabus {
    background-color: transparent;
    color: #FFF;
    position: relative;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.header.syllabus::after {
    content: none;
}

.header.syllabus::before {
    content: none;
}

.header.syllabus .header-bg {
    position: absolute;
    width: 100%;
    /* overflow: hidden; */
    left: 0;
    z-index: -1;
    min-height: 300px;
    height: auto;
}

.header.syllabus .header-bg img {
    width: 100%;
    vertical-align: initial;
}

.header.syllabus .header-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.7);
}

.header.syllabus .logo {
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    height: 5vw;
    line-height: 5vw;
    width: 80px;
}

.header.syllabus .logo img {
    width: 100%;
}

.header.syllabus .course-text {
    max-width: 90%;
}

.header.syllabus .course-text h1,
.header.syllabus .course-text h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.header.syllabus .course-text h1 {
    font-size: 3em;
}

.header.syllabus .course-text h2 {
    font-weight: 100;
    font-size: 2em;
}

.header.syllabus .course-leading {
    max-width: 50%;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5em;
}

.header.syllabus .course-leading .course-id {
    font-size: 2.5em;
    font-style: italic;
    padding: 15px 0 15px 0;
    display: inline-block;
    border-bottom: 1px solid #FFF;
    font-weight: 400;
}

.header.syllabus .course-title {
    margin-top: 5%;
    margin-bottom: 20%;
}

.header-lead.transcript {
    font-size: 1.5em;
    color: #414042;
    padding: 0.8em 5%;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
}

.header.transcript {
    background-color: #F00;
    color: #FFF;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.header.transcript::after {
    content: none;
}

.header.transcript::before {
    content: none;
}

.header.transcript .transcript-title {
    font-size: 2vw;
}

.header.transcript .transcript-title .title-lead {
    display: inline-block;
    border-bottom: 1px solid #fff;
    font-style: italic;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 1.5em;
}

.header.transcript .transcript-title .video-title .title-bold {
    font-size: 6vw;
    padding: 2vw 0;
}

.header.transcript .transcript-title .video-title .title-light {
    font-size: 6vw;
    padding: 2vw 0;
    font-weight: 100;
}

.header.transcript .logo {
    position: absolute;
    width: 60px;
    right: 5vw;
    bottom: 5vw;
    height: 5vw;
    line-height: 5vw;
}

.header.transcript .logo img {
    width: 100%;
}

.main.transcript {
    margin-top: 0;
    position: relative;
}

.main.transcript .section.dialog {
    padding-left: 19.5%;
    padding-right: 13%;
    margin-bottom: 0;
    position: relative;
}

.main.transcript .section.dialog strong {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-family: "Source Sans Pro", "Roboto", sans-serif;
    display: block;
}

.main.transcript .section.dialog::before {
    content: attr(time);
    color: #9b9b9b;
    width: 200px;
    position: absolute;
    display: inline-block;
    text-align: right;
    margin-left: -200px;
    margin-top: 1em;
    padding-right: 1em;
}

.section.progress {
    color: #414042;
    background-color: transparent;
    min-height: 200px;
}

.section.progress ul.progress-bar {
    border-top: 1px solid #E3E3E3;
    padding-top: 50px;
    list-style: none;
    display: table;
    table-layout: fixed;
}

.section.progress ul.progress-bar li {
    list-style: none;
    text-transform: uppercase;
    display: table-cell;
    text-align: center;
    position: relative;
    color: #414042;
    font-weight: 600;
}

.section.progress ul.progress-bar li a {
    border-bottom: 1px solid #39c2d7;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    transition: all .4s ease-in-out;
}

.section.progress ul.progress-bar li a:hover {
    background-color: rgba(57, 194, 215, 0.3);
    padding: 0.5em 1em;
}

.section.progress ul.progress-bar li:hover::before {
    background-color: #39c2d7;
    border-color: #fbfbfb;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.section.progress ul.progress-bar li::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 1em;
    height: 1em;
    background-color: #fbfbfb;
    line-height: 1em;
    border-radius: 50%;
    position: relative;
    z-index: 9;
    top: 4em;
    border: 5px solid #9b9b9b;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: all .4s ease-in-out;
}

.section.progress ul.progress-bar li::after {
    content: "";
    display: block;
    background-color: #9b9b9b;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 4.5em;
    left: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.section.progress ul.progress-bar li:last-child::after {
    content: none;
}

.section.progress ul.progress-bar li.active a {
    color: #39c2d7;
}

.section.progress ul.progress-bar li.active::before {
    background-color: #39c2d7;
    border-color: #fbfbfb;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}