@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,600,700,900')
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i')

$color-body-text: rgb(65, 64, 66)
$color-body-text-light: rgb(155, 155, 155)
$color-red-50: rgba(255, 0, 0, 0.5)
$color-blue-30: rgba(57, 194, 215, 0.3)
$color-primary-blue: rgb(57, 194, 215)
$color-project-blue: #50C8F1
$color-todo-prim: rgb(76, 198, 244)
$color-todo-discuss: #D8DF50
$color-acc-card-bg: rgb(251, 250, 248)

$dist-left: 19.5%
$dist-right: 13%

html
	font-size: 20px
	line-height: 40px
	color: $color-body-text

body
	font-family: "Source Sans Pro", "Roboto", sans-serif
	background-color: #fbfbfb

a, a:visited, a:active, a:hover
	text-decoration: none
	color: $color-body-text
	background-color: transparent

blockquote
	font-size: 36px
	text-align: left
	padding: 0 7%
	border: 0
	position: relative
	&::before
		content: ""
		color: #F00
		font-size: 100px
		position: absolute
		left: 0
		top: -70px
		width: 70px
		height: 70px
		background-image: url('../assets/icons/blockquote-01.svg')
		background-repeat: no-repeat
		
	cite
		font-style: normal
		sup
			color: $color-body-text-light

// ## TODO PAGE ##
.header.todo
	background-color: $color-todo-prim
	height: 400px
	&::before
		content: none
	
.main.todo
	ul.tabs
		padding-left: 0
		background-color: transparent
		li.indicator
			background-color: $color-todo-prim
		.tab a
			color: $color-body-text-light
			transition: all .4s ease-in-out
			&.active
				color: $color-body-text
			&:hover
				backodound-color: $color-blue-30
	.section.discussion
		.section-title h1
			border-bottom: 2px solid $color-todo-discuss
// ## PROJECT PAGE ##
.header.project
	background-color: $color-body-text-light
	height: 400px
	color: $color-body-text
	&::before
		background-color: rgba(155, 155, 155, 0.7)
	
		
.unit-title
	font-size: 64px
	line-height: 70px
	.unit-number
		font-size: 36px
		font-style: italic
		padding-bottom: 25px
	.unit-project
		font-size: 36px
		font-style: italic
		line-height: 50px
		margin-bottom: 25px
		border-bottom: 1px solid $color-body-text
		display: inline-block
	.unit-title-bold
		font-weight: 400
	.unit-title-light
		font-weight: 100
	
.video-title
	font-size: 36px
	line-height: 1.2em
	.video-title-light
		font-weight: 100
	
.video-btn-group
	font-size: 18px
	text-align: center
	font-weight: 600
	& > div
		cursor: pointer
	.video-btn-play
		position: relative
		padding-left: 10px
		transition: all .2s ease-in-out
		&:hover
			transform: scale(1.1)
			box-shadow: 0 10px 25px rgba(0,0,0,0.2)
			z-index: 10
		.material-icons
			position: absolute
			font-size: 19px
			left: 15px
			top: 10px
	.video-btn-transcript
		transition: all .2s ease-in-out
		&:hover
			background-color: #fff
			color: $color-red-50
			transform: scale(1.1)
			box-shadow: 0 10px 25px rgba(0,0,0,0.2)
			z-index: 10

.aside
	.video-title
		font-size: 24px
		line-height: 1.2em
		.video-title-light
			font-weight: 100
	.video-btn-group
		font-size: 10px
		line-height: 25px
		.material-icons
			font-size: 15px
			left: 5px
			top: 4px

	
	
.nav
	font-size: 16px
	color: rgb(65, 64, 66)
	font-weight: 600
	background-color: #fff
	.material-icons
		line-height: 24px
		height: initial
	.menu
		background-color: transparent
	a:hover
		background-color: transparent
	.nav-title
		font-size: 24px
		color: rgba(155, 155, 155, 0.5)
		font-weight: 600
	.nav-block li
		line-height: 20px	
		padding: 3px 10px
		position: relative
		transition: color .3s ease
		z-index: 0
		a
			color: $color-body-text
		&::after
			content: ""
			background-color: #F00
			position: absolute
			left: 0
			top: 0
			bottom: 0
			width: 0
			z-index: -1
			transition: all .3s ease-in-out
		&:hover
			a
				color: #FFF
			&::after
				width: 100%
	.nav-block:last-child li
		background-color: $color-blue-30
		&::before
			background-color: $color-blue-30
	
.main 
	p
		font-family: 'Crimson Text', serif
		margin-top: 1em
		margin-bottom: 1em
		a
			position: relative
			&::after
				content: ""
				display: block
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 5px
				background-color: $color-blue-30
				opacity: 0.5
				transition: opacity .3s ease
		a:hover::after
			opacity: 1
				
	h1, h2, h3, h4
		text-transform: uppercase
		font-weight: 600
	h2
		font-size: 1.5em
	h3
		font-size: 1.17em
		color: $color-primary-blue
	ul
		list-style: disc
		padding-left: 2.5em
		color: $color-primary-blue
		padding-top: 0.5em
		li
			list-style: disc
			padding-left: 0.5em
			& > ul
				color: $color-body-text-light
		p
			color: $color-body-text
	// ul:not(.browser-default) li
	// 	list-style: disc
	blockquote
		font-style: italic
		color: $color-body-text-light
		font-size: 36px
		em
			color: #4a4a4a
		p
			font-family: "Source Sans Pro", "Roboto", "Helvetica", sans-serif
		cite
			font-size: 24px
			color: $color-body-text
	.aside blockquote
		font-size: 28px
	
.section-title-group
	text-transform: uppercase
	.section-title
		h1
			padding-bottom: 25px
			margin-top: 0
			margin-bottom: 0
			border-bottom: 2px solid $color-blue-30
			font-size: 48px
			font-weight: 600
			display: inline-block
	
.section-card
	background-color: #fff
	h4
		// font-weight: 800
		font-size: 24px
		padding-top: 12px
	h3
		text-transform: none
		font-size: 24px
		color: $color-primary-blue
		margin-left: -10px

	
.footer
	background-color: $color-body-text
	color: #FFF
	
	

.main.syllabus, .main.project
	.grading-bar
		margin-left: -80px
		margin-right: -60px
		display: flex
		justify-content: space-between
		position: relative
		background-color: lighten($color-body-text-light, 30%)
		margin-top: 30px
		margin-bottom: 30px
		.grading-text
			z-index: 1
			font-weight: 600
			line-height: 3em
			font-size: 1.2em
			margin-left: 60px
			position: relative
			text-transform: uppercase
			&::before
				content: "Criteria:"
				font-weight: 100
				font-size: 0.6rem
				line-height: 3em
				padding-right: 1em
		.grading-weight
			line-height: 3em
			padding-right: 2em
			font-size: 1.2em
			font-weight: 100
			z-index: 1
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			bottom: 0
			background-color: lighten($color-primary-blue, 30%)
			z-index: 0
		&.p90-100::before
			width: 100%
		&.p80-89::before
			width: 89%
		&.p70-79::before
			width: 79%
		&.p0-69::before
			width: 69%
	
	.grading-bar-content
		margin-left: -80px
		margin-right: -60px
		.gbc-keyword
			font-size: 0.6rem
			padding-right: 1em
			font-weight: 100
			padding-left: 60px
		.gbc-body
			padding-left: 60px
		
	.schedule-collapsible
		i
			transition: transform .4s ease
		& .active i
			transform: rotate(180deg)
		& > ul
			padding: 0
			color: $color-body-text
			box-shadow: none
			border: none
			& > li
				list-style: none
				padding-left: 0
				background-color: #fff
			.collapsible-header
				text-transform: uppercase
				font-weight: 600
				font-size: 1.2em
				border-color: #FFF
				.title
					font-weight: 100
			.collapsible-body
				padding: 0
				.body-part
					padding: 60px 60px 60px 80px
				.body-part + .body-part
					border-top: 1px solid #d4d4d4
					margin-top: 30px
				h4
					font-size: 1.5em
	.grade-table
		font-size: 1.2em
		margin-left: $dist-left
		margin-right: $dist-right
		.grade-item
			background-color: #FFF
			position: relative
			display: flex
			justify-content: space-between
			text-transform: uppercase
			& + .grade-item
				margin-top: 3px
			&::before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				background-color: #4c4c4c
				z-index: 0
			&.grade-25::before
				width: 25%
			&.grade-50::before
				width: 50%
			.item-name
				color: #FFF
				z-index: 1
				padding: 0.5em 1em
			.item-weight
				z-index: 1
				padding: 0.5em 1em
	.section.general-info .collapsible-header
		background-color: $color-body-text-light
	.section.schedule .collapsible-header
		background-color: $color-primary-blue
	.section.schedule.project-schedule .collapsible-header
		background-color: $color-project-blue
		&.opacity-86
			background-color: rgba($color-project-blue, 0.86)
		&.opacity-70
			background-color: rgba($color-project-blue, 0.7)
		&.opacity-55
			background-color: rgba($color-project-blue, 0.55)
		&.opacity-40
			background-color: rgba($color-project-blue, 0.4)
	
	.section .collapsible-body
		.section-card
			margin: 50px 60px 50px 80px
			background-color: $color-acc-card-bg
			// background-color: #D8DF50
		
	
	.section.schedule.project-schedule .collapsible-body
		ol
			counter-reset: li
			padding: 0
			& > li
				position: relative
				list-style: none
				padding: 1em 3em 1em 5em
				& > ul
					padding-left: 1.5em
					color: $color-primary-blue
				& + li
					margin-top: .5em
				&::before
					content: counter(li)
					counter-increment: li
					position: absolute
					top: 1em
					left: 0
					font-size: 2em
					font-weight: 600
					color: $color-primary-blue
		
// ## Blackboard JSP Faculty information HACK ##
.section.faculty > table
	margin-left: $dist-left
	margin-right: $dist-right
	width: auto
	box-sizing: border-box
.section.faculty > table > tbody
	
	& > tr:nth-child(2) td:nth-child(2)
		padding-left: 60px
		font-size: 2em
		
	tr:nth-child(1) td:nth-child(3)
		vertical-align: middle
		img
			border-radius: 5px
			border: 2px solid $color-primary-blue
			box-shadow: 0 10px 20px rgba(0,0,0,0.1)
			max-width: 300px
.section.faculty table tr td table
	box-shadow: 0 5px 20px rgba(0,0,0,0.1)
	padding: 30px
	margin: 20px 50px
.section.faculty table tr td table th, td
	text-align: left
	vertical-align: top
	padding: 10px 15px
.section.faculty table table tr
	margin: 30px