@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i");
html {
    font-size: 20px;
    line-height: 40px;
    color: #414042;
}

body {
    font-family: "Source Sans Pro", "Roboto", sans-serif;
    background-color: #fbfbfb;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: #414042;
    background-color: transparent;
}

blockquote {
    font-size: 36px;
    text-align: left;
    padding: 0 7%;
    border: 0;
    position: relative;
}

blockquote::before {
    content: "";
    color: #F00;
    font-size: 100px;
    position: absolute;
    left: 0;
    top: -70px;
    width: 70px;
    height: 70px;
    background-image: url("../assets/icons/blockquote-01.svg");
    background-repeat: no-repeat;
}

blockquote cite {
    font-style: normal;
}

blockquote cite sup {
    color: #9b9b9b;
}

.header.todo {
    background-color: #4cc6f4;
    height: 400px;
}

.header.todo::before {
    content: none;
}

.main.todo ul.tabs {
    padding-left: 0;
    background-color: transparent;
}

.main.todo ul.tabs li.indicator {
    background-color: #4cc6f4;
}

.main.todo ul.tabs .tab a {
    color: #9b9b9b;
    transition: all .4s ease-in-out;
}

.main.todo ul.tabs .tab a.active {
    color: #414042;
}

.main.todo ul.tabs .tab a:hover {
    backodound-color: rgba(57, 194, 215, 0.3);
}

.main.todo .section.discussion .section-title h1 {
    border-bottom: 2px solid #D8DF50;
}

.header.project {
    background-color: #FFF;
    height: 400px;
    color: #414042;
}

.header.project::before {
    background-color: rgba(155, 155, 155, 0.5);
}

.unit-title {
    font-size: 64px;
    line-height: 70px;
}

.unit-title .unit-number {
    font-size: 36px;
    font-style: italic;
    padding-bottom: 25px;
}

.unit-title .unit-project {
    font-size: 36px;
    font-style: italic;
    line-height: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #414042;
    display: inline-block;
}

.unit-title .unit-title-bold {
    font-weight: 400;
}

.unit-title .unit-title-light {
    font-weight: 100;
}

.video-title {
    font-size: 36px;
    line-height: 1.2em;
}

.video-title .video-title-light {
    font-weight: 100;
}

.video-btn-group {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.video-btn-group>div {
    cursor: pointer;
}

.video-btn-group .video-btn-play {
    position: relative;
    padding-left: 10px;
    transition: all .2s ease-in-out;
}

.video-btn-group .video-btn-play:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.video-btn-group .video-btn-play .material-icons {
    position: absolute;
    font-size: 19px;
    left: 15px;
    top: 10px;
}

.video-btn-group .video-btn-transcript {
    transition: all .2s ease-in-out;
}

.video-btn-group .video-btn-transcript:hover {
    background-color: #fff;
    color: rgba(255, 0, 0, 0.5);
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.aside .video-title {
    font-size: 18px;
    line-height: 1.5em;
}

.aside .video-title .video-title-light {
    font-weight: 100;
}

.aside .video-btn-group {
    font-size: 10px;
    line-height: 25px;
}

.aside .video-btn-group .material-icons {
    font-size: 15px;
    left: 5px;
    top: 4px;
}

.nav {
    font-size: 16px;
    color: #414042;
    font-weight: 600;
    background-color: #fff;
}

.nav .material-icons {
    line-height: 24px;
    height: initial;
}

.nav .menu {
    background-color: transparent;
}

.nav a:hover {
    background-color: transparent;
}

.nav .nav-title {
    font-size: 24px;
    color: rgba(155, 155, 155, 0.5);
    font-weight: 600;
}

.nav .nav-block li {
    line-height: 20px;
    padding: 3px 10px;
    position: relative;
    transition: color .3s ease;
    z-index: 0;
}

.nav .nav-block li a {
    color: #414042;
}

.nav .nav-block li::after {
    content: "";
    background-color: #F00;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.nav .nav-block li:hover a {
    color: #FFF;
}

.nav .nav-block li:hover::after {
    width: 100%;
}

.nav .nav-block:last-child li {
    background-color: rgba(57, 194, 215, 0.3);
}

.nav .nav-block:last-child li::before {
    background-color: rgba(57, 194, 215, 0.3);
}

.main p {
    font-family: 'Crimson Text', serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main p a {
    position: relative;
    transition: all .3s ease-in-out;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .3) 70%, rgba(57, 194, 215, .3) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .3) 70%, rgba(57, 194, 215, .3) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .3) 70%, rgba(57, 194, 215, .3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#39c2d7', GradientType=0);
}

.main p a:hover {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .7) 70%, rgba(57, 194, 215, .7) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .7) 70%, rgba(57, 194, 215, .7) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 70%, rgba(57, 194, 215, .7) 70%, rgba(57, 194, 215, .7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#39c2d7', GradientType=0);
}

.main p a::after {
    /* disable this design to see if the approach above is better */
    /* content: ""; */
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-color: rgba(57, 194, 215, 0.3);
    opacity: 0.5;
    transition: opacity .3s ease;
}

.main p a:hover::after {
    opacity: 1;
}

.main h1,
.main h2,
.main h3,
.main h4 {
    text-transform: uppercase;
    font-weight: 600;
}

.main h2 {
    font-size: 1.5em;
}

.main h3 {
    font-size: 1.17em;
    color: #39c2d7;
}

.main ul {
    list-style: disc;
    padding-left: 2.5em;
    color: #39c2d7;
    padding-top: 0.5em;
}

.main ul li {
    list-style: disc;
    padding-left: 0.5em;
    font-weight: 100;
}

.main ul li>ul {
    color: #9b9b9b;
}

.main ul p {
    color: #414042;
}

.main blockquote {
    font-style: italic;
    color: #9b9b9b;
    font-size: 36px;
}

.main blockquote em {
    color: #4a4a4a;
}

.main blockquote p {
    font-family: "Source Sans Pro", "Roboto", "Helvetica", sans-serif;
}

.main blockquote cite {
    font-size: 24px;
    color: #414042;
}

.main .aside blockquote {
    font-size: 28px;
}

.section-title-group {
    text-transform: uppercase;
}

.section-title-group .section-title h1 {
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(57, 194, 215, 0.3);
    font-size: 48px;
    font-weight: 600;
    display: inline-block;
}

.section-card {
    background-color: #fff;
}

.section-card p {
    font-family: "Source Sans Pro", "Roboto", Helvetica, sans-serif;
    color: rgb(155, 155, 155) !important;
}

.section-card h4 {
    font-size: 24px;
    padding-top: 12px;
}

.section-card h3 {
    text-transform: none;
    font-size: 24px;
    color: #39c2d7;
    margin-left: -10px;
}

.footer {
    background-color: #414042;
    color: #FFF;
}

.main.syllabus .grading-bar,
.main.project .grading-bar {
    margin-left: -80px;
    margin-right: -60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    background-color: #e8e8e8;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main.syllabus .grading-bar .grading-text,
.main.project .grading-bar .grading-text {
    z-index: 1;
    font-weight: 600;
    line-height: 3em;
    font-size: 1.2em;
    margin-left: 60px;
    position: relative;
    text-transform: uppercase;
}

.main.syllabus .grading-bar .grading-text::before,
.main.project .grading-bar .grading-text::before {
    content: "Criteria:";
    font-weight: 100;
    font-size: 0.6rem;
    line-height: 3em;
    padding-right: 1em;
}

.main.syllabus .grading-bar .grading-weight,
.main.project .grading-bar .grading-weight {
    line-height: 3em;
    padding-right: 2em;
    font-size: 1.2em;
    font-weight: 100;
    z-index: 1;
}

.main.syllabus .grading-bar::before,
.main.project .grading-bar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #b8e9f1;
    z-index: 0;
}

.main.syllabus .grading-bar.p90-100::before,
.main.project .grading-bar.p90-100::before {
    width: 100%;
}

.main.syllabus .grading-bar.p80-89::before,
.main.project .grading-bar.p80-89::before {
    width: 89%;
}

.main.syllabus .grading-bar.p70-79::before,
.main.project .grading-bar.p70-79::before {
    width: 79%;
}

.main.syllabus .grading-bar.p0-69::before,
.main.project .grading-bar.p0-69::before {
    width: 69%;
}

.main.syllabus .grading-bar-content,
.main.project .grading-bar-content {
    margin-left: -80px;
    margin-right: -60px;
}

.main.syllabus .grading-bar-content .gbc-keyword,
.main.project .grading-bar-content .gbc-keyword {
    font-size: 0.8rem;
    padding-right: 1em;
    font-weight: 400;
    padding-left: 60px;
}

.main.syllabus .grading-bar-content .gbc-body,
.main.project .grading-bar-content .gbc-body {
    padding-left: 60px;
    padding=right: 60px;
}

.main.syllabus .schedule-collapsible .collapsible-body p,
.main.project .schedule-collapsible .collapsible-body p {
    font-family: 'Crimson Text', serif;
}

.main.syllabus .schedule-collapsible i,
.main.project .schedule-collapsible i {
    transition: transform .4s ease;
    width: 40px;
    height: 40px;
}

.main.syllabus .schedule-collapsible .active i,
.main.project .schedule-collapsible .active i {
    transform: rotate(180deg);
}

.main.syllabus .schedule-collapsible>ul,
.main.project .schedule-collapsible>ul {
    padding: 0;
    color: #414042;
    box-shadow: none;
    border: none;
}

.main.syllabus .schedule-collapsible>ul>li,
.main.project .schedule-collapsible>ul>li {
    list-style: none;
    padding-left: 0;
    background-color: #fff;
}

.main.syllabus .schedule-collapsible>ul .collapsible-header,
.main.project .schedule-collapsible>ul .collapsible-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    border-color: #FFF;
}

.main.syllabus .schedule-collapsible>ul .collapsible-header .title,
.main.project .schedule-collapsible>ul .collapsible-header .title {
    font-weight: 100;
    padding-left: .5em;
}

.main.syllabus .schedule-collapsible>ul .collapsible-body,
.main.project .schedule-collapsible>ul .collapsible-body {
    padding: 0;
}

.main.syllabus .schedule-collapsible p,
.main.project .schedule-collapsible p {
    font-family: 'Crimson Text', serif;
    color: #414042;
}

.main.syllabus .schedule-collapsible>ul>li>.collapsible-body blockquote p,
.main.project .schedule-collapsible>ul>li>.collapsible-body blockquote p {
    font-family: "Source Sans Pro", "Roboto", Helvetica, sans-serif;
    color: #9b9b9b;
    font-weight: normal;
}

.main.syllabus .schedule-collapsible>ul .collapsible-body .body-part,
.main.project .schedule-collapsible>ul .collapsible-body .body-part {
    padding: 60px 60px 60px 80px;
}

.main.syllabus .schedule-collapsible>ul .collapsible-body .body-part+.body-part,
.main.project .schedule-collapsible>ul .collapsible-body .body-part+.body-part {
    border-top: 1px solid #d4d4d4;
    margin-top: 30px;
}

.main.syllabus .schedule-collapsible>ul .collapsible-body h4,
.main.project .schedule-collapsible>ul .collapsible-body h4 {
    font-size: 1.5em;
}

.main.syllabus .grade-table,
.main.project .grade-table {
    font-size: 1.2em;
    margin-left: 19.5%;
    margin-right: 13%;
}

.main.syllabus .grade-table .grade-item,
.main.project .grade-table .grade-item {
    background-color: #FFF;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
}

.main.syllabus .grade-table .grade-item+.grade-item,
.main.project .grade-table .grade-item+.grade-item {
    margin-top: 3px;
}

.main.syllabus .grade-table .grade-item::before,
.main.project .grade-table .grade-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #4c4c4c;
    z-index: 0;
}

.main.syllabus .grade-table .grade-item.grade-25::before,
.main.project .grade-table .grade-item.grade-25::before {
    width: 25%;
}

.main.syllabus .grade-table .grade-item.grade-50::before,
.main.project .grade-table .grade-item.grade-50::before {
    width: 50%;
}

.main.syllabus .grade-table .grade-item .item-name,
.main.project .grade-table .grade-item .item-name {
    color: #FFF;
    z-index: 1;
    padding: 0.5em 1em;
}

.main.syllabus .grade-table .grade-item .item-weight,
.main.project .grade-table .grade-item .item-weight {
    z-index: 1;
    padding: 0.5em 1em;
}

.main.syllabus .section.general-info .collapsible-header,
.main.project .section.general-info .collapsible-header {
    background-color: #9b9b9b;
}

.main.syllabus .section.schedule .collapsible-header,
.main.project .section.schedule .collapsible-header {
    background-color: #39c2d7;
}

.main.project .section.schedule .collapsible-header {
    font-weight: 100;
    font-size: 0.8em;
    text-transform: capitalize;
    line-height: 2em;
    position: relative;
}

.main.project .section.schedule .collapsible-header.current::before {
    content: "";
    height: 100%;
    width: 5px;
    background-color: rgb(65, 64, 66);
    position: absolute;
    left: -5px;
    top: 0;
    animation: colorchange 2.5s infinite;
    -webkit-animation: colorchange 2.5s infinite;
}

@keyframes colorchange {
    0% {
        background: rgba(255, 0, 0, 0.8);
    }
    50% {
        background: rgba(165, 165, 165, 0.4);
    }
    100% {
        background: rgba(255, 0, 0, 0.8);
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: rgba(255, 0, 0, 0.8);
    }
    50% {
        background: rgba(165, 165, 165, 0.4);
    }
    100% {
        background: rgba(255, 0, 0, 0.8);
    }
}

.main.project .section.schedule .collapsible-header .title {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 80%;
}

.main.syllabus .section.schedule.project-schedule .collapsible-header,
.main.project .section.schedule.project-schedule .collapsible-header {
    background-color: #50C8F1;
}

.main.syllabus .section.schedule.project-schedule .collapsible-header.opacity-86,
.main.project .section.schedule.project-schedule .collapsible-header.opacity-86 {
    background-color: rgba(80, 200, 241, 0.86);
}

.main.syllabus .section.schedule.project-schedule .collapsible-header.opacity-70,
.main.project .section.schedule.project-schedule .collapsible-header.opacity-70 {
    background-color: rgba(80, 200, 241, 0.7);
}

.main.syllabus .section.schedule.project-schedule .collapsible-header.opacity-55,
.main.project .section.schedule.project-schedule .collapsible-header.opacity-55 {
    background-color: rgba(80, 200, 241, 0.55);
}

.main.syllabus .section.schedule.project-schedule .collapsible-header.opacity-40,
.main.project .section.schedule.project-schedule .collapsible-header.opacity-40 {
    background-color: rgba(80, 200, 241, 0.4);
}

.main.syllabus .section .collapsible-body .section-card,
.main.project .section .collapsible-body .section-card {
    margin: 50px 60px 50px 80px;
    background-color: #fbfaf8;
}

.main.syllabus .section.schedule.project-schedule .collapsible-body ol,
.main.project .section.schedule.project-schedule .collapsible-body ol {
    counter-reset: li;
    padding: 0;
    font-family: 'Crimson Text', serif;
}

.main.project .section.schedule.project-schedule .collapsible-body strong {
    font-weight: 600;
    color: #39c2d7;
    text-transform: uppercase;
}

.main.project .section.schedule.project-schedule .collapsible-body ol>li>ol {
    padding-left: 1em;
}

.main.project .section.schedule.project-schedule .collapsible-body ol>li>ul h4 {
    color: #4a4a4a;
    font-family: "Source Sans Pro", "Roboto", Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 1.2em;
}

.main.project .section.schedule.project-schedule .collapsible-body ol>li>ol>li {
    /*list-style: inherit;*/
    padding-left: 1em;
}

.main.project .section.schedule.project-schedule .collapsible-body ol>li>ol>li::before {
    content: none;
}

.main.syllabus .section.schedule.project-schedule .collapsible-body ol>li,
.main.project .section.schedule.project-schedule .collapsible-body ol>li {
    position: relative;
    list-style: none;
    padding: 1em 3em 1em 5em;
}

.main.syllabus .section.schedule.project-schedule .collapsible-body ol>li>ul,
.main.project .section.schedule.project-schedule .collapsible-body ol>li>ul {
    padding-left: 1.5em;
    color: #39c2d7;
}

.main.syllabus .section.schedule.project-schedule .collapsible-body ol>li+li,
.main.project .section.schedule.project-schedule .collapsible-body ol>li+li {
    margin-top: .5em;
}

.main.syllabus .section.schedule.project-schedule .collapsible-body ol>li::before,
.main.project .section.schedule.project-schedule .collapsible-body ol>li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 1em;
    left: 0;
    font-size: 2em;
    font-weight: 600;
    color: #39c2d7;
    font-family: "Source Sans Pro", "Roboto", Helvetica, sans-serif;
}

.main.project .section.project-schedule .collapsible-body .section-card {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}

.main.project .section.project-schedule .collapsible-body .section-card ol>li {
    margin-left: -5em;
    margin-top: 2emem;
}

.main.project .section.project-schedule .collapsible-body .section-card ol>li+li {
    border-top: 1px solid #d0d0d0;
}

.main.project .section.project-schedule .collapsible-body .section-card ol>li::before {
    left: 1em;
}

.main.project .section.materials-grading .card-icon {
    width: 50px;
    height: 50px;
    left: 50px;
}

.main.project .section.materials-grading .card-content p {
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    color: #414042;
}

.main.project .section.materials-grading .card-content strong {
    font-weight: bold;
    color: #39c2d7;
    text-transform: uppercase;
}

.section.faculty>table {
    margin-left: 19.5%;
    margin-right: 13%;
    width: auto;
    box-sizing: border-box;
}

.section.faculty>table>tbody>tr:nth-child(2) td:nth-child(2) {
    padding-left: 60px;
    font-size: 2em;
}

.section.faculty>table>tbody tr:nth-child(1) td:nth-child(3) {
    vertical-align: middle;
}

.section.faculty>table>tbody tr:nth-child(1) td:nth-child(3) img {
    border-radius: 5px;
    border: 2px solid #39c2d7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.section.faculty table tr td table {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px 50px;
}

.section.faculty table tr td table th,
td {
    text-align: left;
    vertical-align: top;
    padding: 10px 15px;
}

.section.faculty table table tr {
    margin: 30px;
}

.section .section-article h2 {
    text-transform: none;
}

.section .section-article h3 {
    text-transform: none;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.section-article>ol.card-list,
.section-article>ul.card-list {
    background-color: #fff;
    padding: 2em 4em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.section-article>ol.card-list>li {
    padding-left: 1em;
    font-weight: 100;
}